In [1]:
import pandas as pd

In [2]:
import funciones_transformacion

In [3]:
#primer archivo a procesar e insertar en la base de datos
#nombre del archivo precios_semana_20200413
url = "https://drive.google.com/file/d/1cYv46Y1Kt1xRKJdJn0hXQtL7jbSd_rNr/view?usp=sharing"
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
#archivo csv que descargo desde el drive
Archivo1_TablaPrecios = pd.read_csv(dwn_url , encoding='UTF-16')
#tiene tres columnas precio, producto_id, sucursal_id
print(Archivo1_TablaPrecios.head())

   precio    producto_id sucursal_id
0   29.90  0000000001663     2-1-014
1   29.90  0000000002288     2-1-032
2   39.90  0000000002288     2-1-096
3  499.99  0000000205870     9-1-686
4  519.99  0000000205870     9-2-248

In [5]:
Archivo1_TablaPrecios.isnull().sum()

precio         13
producto_id    15
sucursal_id    15
dtype: int64

filtro los nan buscando en la columna col_added los 1 (unos)

In [6]:

new_df=funciones_transformacion.columna_boolean_nan(Archivo1_TablaPrecios)

In [7]:
Archivo1_TablaPrecios=pd.DataFrame()

sumando los nulos de la siguiente manera se puede observar que hay 13 nulos en precios y 15 en sucursal_id

In [8]:
new_df.isnull().sum()

precio         13
producto_id    15
sucursal_id    15
col_added       0
dtype: int64

teniendo en cuenta la columna booleana col_added donde 1 significa que hay una columna con nulos se puede observar que hay 2 datos en la columna precio sin producto id y sin sucursal id

In [9]:
print(new_df[new_df["col_added"]==1])

        precio producto_id sucursal_id  col_added
246393     NaN         NaN         NaN          1
246748     NaN         NaN         NaN          1
246882     NaN         NaN         NaN          1
246978     NaN         NaN         NaN          1
247033     NaN         NaN         NaN          1
247079  451.00         NaN         NaN          1
247167     NaN         NaN         NaN          1
247310     NaN         NaN         NaN          1
247404     NaN         NaN         NaN          1
247405     NaN         NaN         NaN          1
247520     NaN         NaN         NaN          1
247560   20.14         NaN         NaN          1
247660     NaN         NaN         NaN          1
459373     NaN         NaN         NaN          1
459568     NaN         NaN         NaN          1

In [10]:
registros_totales=new_df.shape[0]
cantidad_de_nulos=new_df["col_added"].sum()
porcentaje_de_nulos=(cantidad_de_nulos*100)/registros_totales

print("la cantidad de nulos es",cantidad_de_nulos,"del total de",registros_totales,"\n")
print("El porcentaje de nulos del total es","{:.2f}".format(porcentaje_de_nulos) ,"%")

la cantidad de nulos es 15 del total de 472166

El porcentaje de nulos del total es 0.00 %

In [11]:
new_df1=new_df[new_df["col_added"]==0]
Archivo1_TablaPrecios=new_df1.copy()
new_df2=funciones_transformacion.sacar_punto_decimal_de_producto_id(Archivo1_TablaPrecios)
Archivo1_TablaPrecios=pd.DataFrame()
Archivo1_TablaPrecios=new_df2.copy()

In [12]:
Archivo1_TablaPrecios=Archivo1_TablaPrecios.drop(columns="col_added")

Archivo sin id_sucursal no validos

In [42]:
Archivo1_TablaPrecios.to_csv("Archivo1_TablaPrecios.csv")