In [1]:
import pandas as pd

In [15]:
#pip install fastparquet

In [16]:
#pip install pyarrow

In [2]:
import funciones_transformacion

In [9]:
#archivo sucursal 
#obtener ids del archivo
url = "https://drive.google.com/file/d/1skuhvdTkgh_GZ9wL0FEf3uxSZu7wU-mX/view?usp=sharing"
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
#archivo csv que descargo desde el drive
sucursal_df = pd.read_csv(dwn_url)

In [11]:
#archivo precios
url = "https://drive.google.com/file/d/1AV8qQFLoiuX2yahyuE8PAjf5qXwdp4Qf/view?usp=sharing"
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
#archivo csv que descargo desde el drive
archivo_precios = pd.read_csv(dwn_url, delimiter="|")

In [12]:
archivo_precios

        precio    producto_id sucursal_id
0        29.90  0000000002288     2-1-009
1        32.90  0000000002288     2-1-037
2        36.90  0000000002288     2-1-090
3        39.90  0000000002288     2-3-247
4       499.99  0000000205870     9-1-430
...        ...            ...         ...
415288  149.99  9569753142128      25-1-1
415289   34.99  9795403001143      25-1-1
415290  312.50  9990385651922       5-1-4
415291  312.50  9990385651939       5-1-4
415292  198.90  9990385651946       5-1-4

[415293 rows x 3 columns]

observo que hay punto decimal en la columna producto_id

In [13]:
print(archivo_precios.isnull().sum())

precio         1960
producto_id       6
sucursal_id       6
dtype: int64

Si sumo los nulos en col_added veo que hay mas de  mil registros

In [14]:
new_df1=funciones_transformacion.columna_boolean_nan(archivo_precios)
registros_totales=new_df1.shape[0]
cantidad_de_nulos=new_df1["col_added"].sum()
porcentaje_de_nulos=(cantidad_de_nulos*100)/registros_totales

print("la cantidad de nulos es",cantidad_de_nulos,"del total de",registros_totales,"\n")
print("El porcentaje de nulos del total es","{:.2f}".format(porcentaje_de_nulos) ,"%")

la cantidad de nulos es 1962 del total de 415293

El porcentaje de nulos del total es 0.47 %

In [16]:

new_df=funciones_transformacion.columna_boolean_nan(archivo_precios)

In [20]:
new_df1=new_df[new_df["col_added"]==0]
Archivo4_TablaPrecios=new_df1.copy()

In [21]:
list_suc_unicos=funciones_transformacion.array_col_id_unicos(sucursal_df,"id")
list_suc_prec=funciones_transformacion.array_col_id_unicos(Archivo4_TablaPrecios,"sucursal_id")

In [22]:
new_TablaPrecios=funciones_transformacion.quitar_id_sucursal_invalidos(list_suc_unicos,list_suc_prec,Archivo4_TablaPrecios)
Archivo2_1_TablaPrecios=pd.DataFrame()
Archivo2_1_TablaPrecios=new_TablaPrecios

In [23]:
Archivo2_1_TablaPrecios

        precio    producto_id sucursal_id  col_added
0        29.90  0000000002288     2-1-009          0
1        32.90  0000000002288     2-1-037          0
2        36.90  0000000002288     2-1-090          0
3        39.90  0000000002288     2-3-247          0
4       499.99  0000000205870     9-1-430          0
...        ...            ...         ...        ...
415288  149.99  9569753142128      25-1-1          0
415289   34.99  9795403001143      25-1-1          0
415290  312.50  9990385651922       5-1-4          0
415291  312.50  9990385651939       5-1-4          0
415292  198.90  9990385651946       5-1-4          0

[413331 rows x 4 columns]

In [24]:
print(Archivo2_TablaPrecios.head())

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-009
1   32.90  0000000002288     2-1-037
2   36.90  0000000002288     2-1-090
3   39.90  0000000002288     2-3-247
4  499.99  0000000205870     9-1-430